__history
*.~dsk
*.dcu
/te5-backend/apacheModule/Win32/Debug/*.dll
*.identcache
*.local
*.map
*.jdbg
*.o
*.dsk
*.drc
*.dll
*.exe
*.so
*.tvsconfig
/Linux64/Debug/
/Linux64/Release/
/Win32/Debug/
/Win32/Release/
*.tmp
__recovery

*.dsv
/*.rsm
/bugreport.txt
.aider*
